@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');
.video-item{
    text-align: center;
    margin-top: 15px;
    border-bottom: 3px solid #1e1b3217;
    font-family: 'PT Sans', sans-serif;
}